/* Estilo general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; /* Fondo negro */
    color: white;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    margin: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    background-color: #1a1a1a;
}

/* Estilo de las filas de contenido */
.content-row {
    display: flex;
    align-items: center;
    margin: 20px 20px;
    padding: 10px;
    max-width: 20%;
    max-height: 20%;
}

.content-row.left img {
    order: 1;
    margin-right: 20px;
    max-width: 20%;
    max-height: 20%;
    margin-left: 20px;
}

/* Cuadros de texto */
.text-box {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}

.text-box p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Estilo de las imágenes */
.content-row img {
    width: 30%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.content-row img:hover {
    transform: scale(1.05);
}

/* Estilo del GIF */
.gif-container img {
    width: 50%;
    margin: 20px 0;
    border-radius: 15px;
}

/* Estilo del video */
.video-container video {
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
}

/* Encabezado */
h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
}
